<!-- {{input type="text" id="new-entry" placeholder="Add a new entry"
value=newEntry action="createEntry"}} -->

<!-- {{outlet}} -->

<div class="col-md-12">
  {{#each}}
    <div class="col-md-12">
      <div class="lot well">
        <p><b>Date:</b> {{date}}</p>
        <p><b>Mood:</b> {{mood}} <b>({{moodRank}})</b></p>
        <p><b>Activity:</b> {{activity}} <b>({{activityRank}})</b></p>
        <p><b>Sleep:</b> {{sleep}} <b>({{sleepRank}})</b></p>
        <p><b>Food:</b> {{food}} <b>({{foodRank}})</b></p>
        <p><b>Journal:</b> {{journal}}</p>
      </div>
    </div>
  {{/each}}
</div>
